body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body .leaflet-popup-content {
  margin: 0px 0px !important;
  line-height: 1.4;
}

.infofooter {
  margin-top: 0;
  padding: .5rem 0 .1rem 0;
  background-color: rgb(196 196 196);
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  /* max-height: 100px; */
  text-align: center;
  border-top: 2px solid #939393;
}

.infofooter p {
  font-size: .85em;
  color: rgb(59, 59, 59);
}

.toolbarfooter {
  background-color: rgb(247, 247, 247);
  border-top: 1px solid black;
  padding: .4rem 0;
}

.toolbarfooter .range-slider__wrap {
  z-index: 1000;
}
.toolbarfooter .range-slider__wrap .range-slider__tooltip.range-slider__tooltip--on,
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label,
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__arrow {
  opacity: 1;
}
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label {
  background-color: #0023d7;
}
.toolbarfooter .range-slider__wrap .range-slider__tooltip.range-slider__tooltip--top .range-slider__tooltip__arrow::before {
  border-top-color: #0023d7;
}

.tabnav-row {
  background-color: rgb(235, 235, 235);
  padding: 5px;
}

.nav-link {
  padding: .7rem 1rem;
  text-transform: uppercase;
}

.nav-link.active {
  border-bottom: 3px solid gray;
  font-weight: bold;
}

.range-slider-p {
  white-space: nowrap;
}

.search-p {
  padding-top: 1rem;
}