@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body .leaflet-popup-content {
  margin: 0px 0px !important;
  line-height: 1.4;
}

.mapDivContainer {
  margin-top: 1rem;
}

body .leaflet-container a.leaflet-popup-close-button {
  top: 17px;
  right: 14px;
  padding: 4px 4px 0 0;
  width: 18px;
  height: 14px;
  font: 25px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  font-weight: bold;
  background: transparent;
}

.infofooter {
  margin-top: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid #e6e6e6;
}

.infofooter p {
  font-size: .85em;
  color: rgb(171, 171, 171);
}

.toolbarfooter {
  background-color: rgb(247, 247, 247);
  border-top: 2px solid #f1f1f1;
  padding: .4rem 0;
  margin-top: 1rem;
}

.toolbarfooter .range-slider__wrap {
  z-index: 1000;
}
.react-datepicker-popper { z-index: 100000 !important }

.toolbarfooter .range-slider__wrap .range-slider__tooltip.range-slider__tooltip--on,
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label,
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__arrow {
  opacity: 1;
}
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label {
  background-color: #0023d7;
}
.toolbarfooter .range-slider__wrap .range-slider__tooltip.range-slider__tooltip--top .range-slider__tooltip__arrow::before {
  border-top-color: #0023d7;
}

.tabnav-row {
  background-color: rgb(235, 235, 235);
}

.tabnav-row h5 {
  padding: 0rem 1rem 0 1rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}

.tabnav-row .nav .nav-link {
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.tabnav-row .nav .nav-link.active {
  border-bottom: 3px solid #008dfe;
}

.btn-heading-container-closed {
  padding-top: .5rem;
  margin: 0;
  background: rgb(235, 235, 235);
}
.btn-heading-container-open {
  padding: 0.7rem 0 0.6rem 1rem;
  margin: 0;
  background: #dedede;
  padding-top: 1.05rem;
}

.close-sidebar {
  margin-top: -0.225rem;
}

.close-sidebar a {
  margin-top: -0.225rem;
  padding: 1rem;
}

.filterEventsSidebar {
  padding: 1.3rem 0 3em 1rem;
}
.btn-heading-container-open .nav-link {
  padding: .0.7rem 1rem 0.2rem 1rem;
  text-transform: uppercase;
}

.nav-link.active {
  border-bottom: 3px solid gray;
  font-weight: bold;
}

.range-slider-p {
  white-space: nowrap;
}

.search-p {
  padding-top: 1rem;
}

.textpage {
  margin: 1.3em 0 2em 0;
}

.textpage h1 {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  margin-top: 1rem;
}

.textpage h1 span {
  white-space: nowrap;
}

@media only screen and (max-width: 350px) {
  .textpage h1 {
    font-size: 1.8em;
  }
}