@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');


$primary: #F97316;
$primaryhover: #DB6615;
$secondary: #ff4136;
$toolbarBg: #EDF4FF;
$secondarytoolbarBg: #D6E6FF;

$bodyfontfamily: 'Open Sans', sans-serif;
$headingsfontfamily: 'Montserrat', sans-serif;


body .btn-primary {
  background-color: #F97316;
  color: white;
  border: 2px solid #F97316;
  border-radius: 20px;
}
body .btn-secondary {
  background-color: rgba(255, 255, 255, $alpha: 0);
  color: #F97316;
  border: 2px solid #F97316;
  border-radius: 25px;
}
body .btn-primary:hover {
  background-color: $primaryhover;
  border-color: $primaryhover;
}
body .btn-secondary:hover {
  background-color: #f7f7f7;
  border-color: $secondary;
  color: $secondary;
}

body button.btn-primary:not(:disabled):not(.disabled).active,
body button.btn-primary:not(:disabled):not(.disabled):focus,
button.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #FFF !important;
  background-color: #A34809 !important;
  border-color: $primaryhover;
  box-shadow: 0 0 0 0.2rem rgba(255, 221, 128, 0.5) !important;
}

body button.btn-secondary:not(:disabled):not(.disabled).active,
body button.btn-secondary:not(:disabled):not(.disabled):focus,
button.btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color:  #A34809!important;
  background-color: #f7f7f7!important;
  box-shadow: 0 0 0 0.2rem rgba(255, 221, 128, 0.5) !important;
  border-color: $primaryhover;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body p {
  font-family: $bodyfontfamily;
  line-height: 1.6em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body .navbar {
  background-color: #5375A9;
  padding: 0;
  align-items: normal;
  justify-content: normal;
}

body .navbar-brand {
  background-color: #436394;
  padding-top: 1rem;
  padding-right: 1.3rem;
  padding-bottom: 1.5rem;
  padding-left: 1.3rem;
}
.wie-logo {
  height: 30px;
}

.tagline {
  color: #143362;
  font-size: 1.2em;
  font-style: italic;
  margin-top: 1.2rem;
}
body .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

body .leaflet-popup-content {
  margin: 0px 0px !important;
  line-height: 1.4;
}

.event-cards-card {
  margin-top: 1rem;
}

/* .card-body-scrollable {
  margin: 1em;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: gray;
  max-height: 300px;
  overflow-y: scroll;
} */

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more +';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less -';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
    color: $primary;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 25px;
    margin-left: -0.2rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
.read-more-trigger:hover {
    border: 2px solid $primary;
}


.mapDivContainer {
  margin-top: 1rem;
}

body .leaflet-container a.leaflet-popup-close-button {
  top: 17px;
  right: 14px;
  padding: 4px 4px 0 0;
  width: 18px;
  height: 14px;
  font: 25px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  font-weight: bold;
  background: transparent;
}

.infofooter {
  margin-top: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid #e6e6e6;
}

.infofooter p {
  font-size: .85em;
  color: rgb(171, 171, 171);
}

.toolbarfooter {
  background-color: rgb(247, 247, 247);
  border-top: 2px solid #f1f1f1;
  padding: .4rem 0;
  margin-top: 1rem;
}

.toolbarfooter .range-slider__wrap {
  z-index: 1000;
}
.react-datepicker-popper { z-index: 100000 !important }

.toolbarfooter .range-slider__wrap .range-slider__tooltip.range-slider__tooltip--on,
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label,
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__arrow {
  opacity: 1;
}
.toolbarfooter .range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label {
  background-color: #0023d7;
}
.toolbarfooter .range-slider__wrap .range-slider__tooltip.range-slider__tooltip--top .range-slider__tooltip__arrow::before {
  border-top-color: #0023d7;
}

.calendar-icon {
  margin-left: 7px;
  margin-bottom: 2px;
}

.tabnav-row {
  background-color: $toolbarBg;
}

.tabnav-row h5 {
  padding: 0rem 1rem 0 1rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}

.tabnav-row .nav .nav-link {
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.tabnav-row .nav .nav-link.active {
  border-bottom: 3px solid #008dfe;
}

.close-sidebar {
  margin-top: -0.225rem;
}

.close-sidebar a {
  margin-top: -0.225rem;
  padding: 1rem;
}

.filterEventsSidebar {
  padding: 1.3rem 0 1.5em 1rem;
}

.btn-heading-container-closed {
  padding-top: 1.05rem 1rem .6rem 1rem;
  margin: 0;
  background: $toolbarBg;
}
.btn-heading-container-open {
  padding: 1.05rem 1rem .6rem 1rem;
  margin: 0;
  background: $secondarytoolbarBg;
}

@media only screen and (max-width: 767px) {
  .btn-heading-container-open {
    background: $toolbarBg;
  }
}

.filters-btn {
  margin: 0.6rem 0.7rem 0 0;
}

.btn-heading-container-open .nav-link {
  padding: .0.7rem 1rem 0.2rem 1rem;
  text-transform: uppercase;
}

.nav-link.active {
  border-bottom: 3px solid gray;
  font-weight: bold;
}

.range-slider-p {
  white-space: nowrap;
}

.search-p {
  padding-top: 1rem;
}

.textpage {
  margin: 1.3em 0 2em 0;
}

.textpage h1 {
  font-family: $headingsfontfamily;
  color: #222;
  margin-top: 1rem;
}

.textpage h1 span {
  white-space: nowrap;
}

@media only screen and (max-width: 350px) {
  .textpage h1 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 500px) {
  .single-card {
    overflow-y: scroll;
      max-height: 250px;
  }
}
